* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #ff5733;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f4d03f;
}

.logo h1 {
    color: #fff;
    font-size: 1.8em;
}

.hero {
    background: url('https://img.freepik.com/free-photo/view-ready-eat-delicious-meal-go_23-2151431806.jpg?t=st=1727808549~exp=1727812149~hmac=da97a275b9c4dcd4a2e20d32e1d58830170222915a677dbd1ff488591df6f19e&w=1380') no-repeat center center/cover;
    height: 700px;
    width:1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    background-color: #f4d03f;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff5733;
    color: #fff;
}

.menu {
    padding: 50px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.2em;
    margin-bottom: 30px;
    color: #ff5733;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.menu-item p {
    color: #555;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer p {
    font-size: 0.9em;
}

.social-icons a img {
    width: 30px;
    margin-left: 15px;
}

@media(max-width: 768px) {
    .menu-item {
        width: 100%;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .footer-content {
        flex-direction: column;
    }
}
